.background {
    background: url("../images/skiback.jpg"); no-repeat: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}

h5{
    font-weight: bold;
}
.panel-info>.panel-heading{
    background-image: none;
    background-color: darkorange;
    border-color: slategray;

}
.panel-info{
    border-color: slategray;
}

.form-control {
    margin-bottom: 10px;
}